@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/octarine');
body {
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'JetBrains Mono';
    color:white;
}
h1 {
    color:rgb(233, 233, 233);
    font-family: 'Octarine';
    font-size: 240%;
    font-weight: 300;
    transition-duration: 0.2s;
    cursor:pointer;
}
h1:hover {
    color:white;
     text-shadow:1px 1px 10px #a8ad62, 1px 1px 10px #a8ad62;
}
h2 {
    color:white;
    font-family: 'JetBrains Mono';
    font-weight: 300;
    font-size:150%;
}
h3 {
    color:rgb(185, 185, 185);
    font-family: 'JetBrains Mono';
    font-weight: 100;
}
p {
    color: lightgray;
    font-family: 'JetBrains Mono';
    font-size: 16px;
}
mark {
    background-color: #1f1f1f;
    color:white;
}
mark2 {
    background-color: #282828;
    color:lightgray;
}
a:hover, a:visited, a:link, a:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color:lightgray;
}
header {
    margin:-10px;
    margin-left:0;
}
.button {
    background-color:rgb(19, 28, 35);
    font-family: 'JetBrains Mono';
    text-align: center;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor:pointer;
}
.button1 {
    background-color:rgb(120, 155, 38);
    color:rgb(0, 0, 0);
}
.button1:hover {
    background-color: rgb(0, 35, 131);
    color:rgb(255, 255, 255);
}
nav {
    padding-bottom:6px;
}
main {
    font-family: 'JetBrains Mono';
    padding-top:2px;
    margin-top:5px;
}
article {
    background-color:rgba(24, 24, 24, 0.5);
    font-family: 'JetBrains Mono';
    padding:10px;
}
.content {
    max-width: 80%;
    margin:auto;
}
.gallery-nav {
    display: flex;
    position: relative;
    list-style-type: none;
    flex-wrap: wrap;
}
.gallery-nav img {
    width:300px;
    height:300px;
    object-fit: cover;
    padding:2px;
}
.gallery-close {
    display: none;
}
.gallery-item {
    background: black;
    background: rgba(0, 0, 0, 0.85);
    transition: opacity 0.3s ease-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}
.gallery-item img {
    max-width: 80%;
    max-height: 70%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 100px);
}
.gallery-item:target {
    opacity: 1;
    z-index: 2;
}
.gallery-item:target ~ .gallery-nav {
    z-index: 3;
    top: 25px;
    left: 20%;
    transform: translateX(-20%);
    text-align: center;
    position:absolute;
}
.gallery-item:target ~ .gallery-nav img {
    width:75px;
    height:75px;
    object-fit: cover;
}
.gallery-item:target ~ .gallery-nav .gallery-close {
    display: block;
    font-size: 30px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.85);
    position:absolute;
    left:-5%;
    top: 0;
    border-radius: 10px;
}
.gallery-close a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}
img {
    vertical-align: top;
}