@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/octarine');
body {
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'JetBrains Mono';
    color:white;
}
h1 {
    color:rgb(193, 193, 193);
    font-family: 'Octarine';
    font-size: 240%;
    font-weight: 300;
    transition-duration: 0.2s;
    cursor:pointer;
}
h1:hover {
    color:white;
}
h2 {
    color:white;
    font-family: 'Roboto Serif';
    font-weight: 300;
}
h3 {
    color:rgb(185, 185, 185);
    font-family: 'Roboto Serif';
    font-weight: 100;
}
p {
    color: lightgray;
    font-family: 'Open Sans';
    font-size: 16px;
}
header {
    margin:-10px;
    width:50%;
    margin-left:0;
}
.button {
    background-color:rgb(38, 51, 61);
    font-family: 'JetBrains Mono';
    padding: 8px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor:pointer;
}
.button1 {
    background-color:rgb(38, 49, 61);
    color:rgb(218, 218, 218);
}
.button1:hover {
    background-color: rgb(25, 29, 38);
    color:white;
    border-color: rgb(96, 96, 96);
}
nav {
    padding-bottom:6px;
}
main {
    background-color:rgba(24, 24, 24, 0.5);
    font-family: 'JetBrains Mono';
    padding:10px;
    border-radius:10px;
    margin:auto;
    backdrop-filter: blur(1px);
}
article {
    background-color:rgba(24, 24, 24, 0.5);
    font-family: 'JetBrains Mono';
    padding:10px;
    border-radius:10px;
    margin:auto;
    backdrop-filter: blur(1px);
}
.content {
    max-width: 80%;
    margin:auto;
}
img {
    
    border-radius: 4px;
    padding:5px;
    height: 160px;
}
img:hover {
    box-shadow: 0 0 2px 1px white;
}
